@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');




* { box-sizing: border-box;}
:root {
    --cor-destaque: #FBB040;
    --cor-agendar: #00A651;
    --cor-letras:  #000;
}

body, h1, h2, p, figure, .menu {
    margin:0;
    padding: 0;
}



.destaque1{
    background-color: var(--cor-destaque);
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    font-size: 18px;
}

h2 {
    font-family: 'Comfortaa', sans-serif;
}

.logo img
{
    width: 550px;
    margin-right: 1070px;
 
    
}

header {
    position: sticky;
    z-index: 100px;
    background-color:white rgb(241, 238, 238);
    margin-top: 10px;
}

.limitador {
    width: 85vw;
    margin: auto;
    height: 18vh;
    display: flex;
    justify-content: space-around;
   
   
  

}
.conteudohome img {
    width: 480px;
    padding: 10px;
    margin-right: 50px;
    border-radius: 20px;
  
    
    
    
}
.conteudohome {
    display: flex;
    
}

.destaque1 h2 {
    font-size: 28px;
}

p {
    font-size: 22px;
    margin-left: 10px;
    margin-top: 15px;
    align-items: center;
    margin-top: 30px;
    
    
   
}


nav  h1 a {
    font-size: 3rem;
    padding: 1rem;
    display: inline-block;
    color: var(--cor-letras);
    text-decoration: none;
    margin-left: 300px;
}
nav h2 a:hover, nav h2 a:focus, 
.menu a:hover, .menu a:focus {
    background-color:#f4af48db
}
.menu {
    list-style: none;
    display: none;
    
    
}

.menu a {
    color: var(--cor-letras);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    
}

 .home, .servico, .dicas, .agendar, .sobre  {
    background-color: var(--cor-destaque);
    margin: 20px;
   padding: 10px;
   max-height: 55px;
}

/* crindo estilo para o depoimento */

.testimonial-container {
    max-width: 700px;
    width: 600px;
    height: 440px;
    text-align: center;
}

.testimonial {
    background-color:var(--cor-destaque);
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonial p {
    font-size: 18px;
    color: #555;
}

.testimonial-author {
    margin-top: 10px;
    font-weight: bold;
}

.depoimento {
    
        font-family: 'Arial', sans-serif;
        background-color: rgb(244, 239, 236);
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 75vh;
    }
    h2  {
        font-size: 20px;
        text-align: center;
        padding: 5px;
        
    }
  

    /* criando estilo para a pagina SOBRE MIM */

  
.sobremim h1 {
    background-color: var(--cor-destaque);
    text-align: center;
    font-size: 25px;
    padding: 2px;
}

.sobremim h2 
{
    text-align: left;
    font-size: 25px;
}
.sobremim p  {
    font-size: 18px;
}
.conteudoSM {
    background-color: rgba(248, 247, 247, 0.719);
    padding: 3rem;
    border-radius: 6px;
    
}
.missao {
    width: 300%;
    padding: 30px;
    
}
.missao ul li {
    font-size: 18px;
}

.sobremim-img {
    width: 100%;
  
}

.consulta a {
    color: #000;
    margin-left: 35px;  
   
}



/* criando estilo para a pagina DICAS NUTRI */


.dicasnutri h1 {
    text-align: center;
    font-size: 40px;
}

.dicasnutri h2 {
    text-align: left;
    background-color: var(--cor-destaque);
    margin-right: 450px;
    font-size: 23px;
}

.dicasnutri ul, ol {
    font-size: 20px;
    margin-left: 35px;
}

 .dicasnutri p {
    font-size: 20px;
   margin: auto;
 }





    @media screen and (min-width: 550px){
       
    
    }
