@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,500&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

footer {
    background-color: white;
    padding: 5px 0;
    align-items: center;
    height: 350px;

}

.container-footer {
    max-width: 1000px;
    margin: auto;
    
}

.row-footer{
   display: flex;
    flex-wrap: wrap;
    height: 350px;
    
}

.footer-col {
    width: 100%;
    padding: 0 15px;
    text-align: center;
    
}


.footer-col img {
    width: 280px;
    margin:auto;
    position:relative;
 
}

.footer-col img:hover {
    top:-4px;box-shadow:0 4px 4px #999;
    transition: all .2s ease-in-out
}

.footer-col  a:hover{
    color: orange;

}

.footer-col address {
    width: 550px;
    text-align: center;
    margin-left: 200px;
 
}
.footer-col a {
    font-size: 15px;
    text-transform: capitalize;
    color: black;
    display: block;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    
}


.footer-col .medias-social {
    margin-top: 20px;
    text-align: center;
    
}
.footer-col .medias-social a {
    display: inline;
    align-items:center;
    justify-content:center;
    height:50px;
    width: 50px;
    margin: 0 15px 15px 0;
    color: black;
    
}

.footer-col .medias-social a i {
    font-size: 30px;
    

}




.footer-col .medias-social a:hover{
    color:orange;
}



@media screen and (min-width: 400px){
    .container-footer { max-width: 900px;}

}
